/* stylelint-ignore no-empty-source */


/* =============================================
=            Project Variables            =
============================================= */

$brand-primary-colour: #ef4640;
$brand-secondary-colour: #37bebd;

$theme-white: #fff;

$page-background: linear-gradient(30deg,#333,#444);


/* =====  End of Project Variables  ====== */


/* =============================================
=            Slate Customisation Options            =
============================================= */


/* ----------  Colours  ---------- */

$slate-primary-colour: $brand-primary-colour;
$slate-secondary-colour: $brand-secondary-colour;


/* ----------  Base  ---------- */

$slate-base-body-font-family: 'PT Sans', sans-serif;

$slate-base-heading-font-family: 'PT Sans', sans-serif;

/* =====  End of Slate Customisation Options  ====== */

