.page-content {
    background: $theme-white;

    .grid-example-container {
        margin-top: 2 * $slate-default-spacing;
    }

    .example-grid-item {
        padding: 2 * $slate-default-spacing;
        background: $slate-muted;
        text-align: center;
    }
}