@import "@doodl/slate/scss/mixins";

.page-header {
    &--logo-holder {
        max-width: 250px;
        margin: 0 auto 3rem;

        @include respond(medium) {
            margin-bottom: 5rem;
        }
    }

    &--logo {
        &::selection {
            display: none;
        }
    }

    &--content {
        text-align: center;
    }
}