
/**
 *
 * Main site styles, loaded on every page
 *
 */


/* ----------  Project Configuration  ---------- */

// Dynamically imports the SCSS Config file for this project.  Defaults to src/scss/partials/_config.scss
@import 'projectCSSConfig';

// Import SCSS modules from @doodl/slate
@import './partials/slate-imports';


/* ============================================================================================
=            Page Styles - when styling sections, use SCSS partials to keep code tidy!        =
============================================================================================= */

@import './partials/page-header';
@import './partials/page-content';
@import './partials/page-footer';

body {
    min-height: 100vh;
    background: $page-background;
    background-size: cover;
    background-repeat: no-repeat;
}

/* =====  End of Page Styles  ====== */